<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-block btn-lg btn-primary"
               href="#/it"
               >
                INTAKE
            </a>
            <a class="btn btn-block btn-lg btn-primary"
               href="#/te">
                TESTING
            </a>
            <a class="btn btn-block btn-lg btn-primary"
               href="#/sp">
                SHIPPING
            </button>
            <a id="btnCustomer" class="btn btn-block btn-lg btn-primary"
               href="#/customer">
                CUSTOMER
            </a>
        </div>
    </div>
</div>
