<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2>Enter Data into New Booking</h2>
            <div class="row">
                <form class="txtTruckOwner" role="form">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtBookingNo">Booking #</label>
                        <div class="col-md-8">
                            <input class="form-control" type="select" id="txtBookingNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtCustomerName">Customer Name:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="select" id="txtCustomerName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtShippingLine">Shippling Line:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtShippingLine" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtCustomerPOC">Port of Origination:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtCustomerPOC" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtCustomerPOD">Port of Discharge:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtCustomerPOD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTypeOfContainer1">Type of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTypeOfContainer1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNumOfContainer1"># of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtNumOfContainer1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTypeOfContainer2">Type of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTypeOfContainer2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNumOfContainer2"># of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtNumOfContainer2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTypeOfContainer3">Type of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTypeOfContainer3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNumOfContainer3"># of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtNumOfContainer3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTypeOfContainer4">Type of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTypeOfContainer4" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNumOfContainer4"># of Container:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtNumOfContainer4" />
                        </div>
                    </div>
                 </form>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-left">
                    <a id="btnBack" class="btn btn-primary" href="#/bc">Back</a>
                </div>
                <div class="col-md-4 text-center">
                    <a id="btnBack" class="btn btn-primary">Next/Save</a>
                </div>
                <div class="col-md-4 text-right">
                    <a id="btnBack" class="btn btn-primary" href="#/">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>
