<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
           <h2>Lock Port of Origination</h2>
            <br />
            <div class="row">
                <div class="col-md-4 text-left">
                    <a id="btnBack" class="btn btn-primary" href="#/cf-bk-po">Back</a>
                </div>
                <div class="col-md-4 text-center">
                    <a id="btnBack" class="btn btn-primary">Next/Save</a>
                </div>
                <div class="col-md-4 text-right">
                    <a id="btnBack" class="btn btn-primary" href="#/">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>