<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2>Enter Data into Vehicle Tare</h2>
            <div class="row">
                <form class="txtTruckOwner" role="form">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTruckLabel">Truck Label:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTruckLabel" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTareWeight">Tare Weight (lbs):</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTareWeight" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtContainerType">Container Type:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtContainerType" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtTruckOwner">Truck Owner:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtTruckOwner" />
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-left">
                    <a id="btnBack" class="btn btn-primary" href="#/cf-tr">Back</a>
                </div>
                <div class="col-md-4 text-center">
                    <a id="btnBack" class="btn btn-primary">Next/Save</a>
                </div>
                <div class="col-md-4 text-right">
                    <a id="btnBack" class="btn btn-primary" href="#/">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>