<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-block btn-lg btn-primary"
               href="#/it-19">
                19FT
            </a>
            <a class="btn btn-block btn-lg btn-primary"
               href="#/it-39">
                39FT
            </a>
            <a class="btn btn-block btn-lg btn-primary"
               href="#/it-ft">
                CUSTOM FT
            </a>
        </div>
    </div>
</div>
