<br />
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2>New Rack</h2>
            <form class="horizontal-form" role="form">
              <div class="form-group">
                <label for="txtRackNum">Rack Number:</label>
                <input id="txtRackNum" class="form-control" type="text"/>
              </div>
              <button class="btn btn-default btn-block btn-lg" id="btnAddLog">Add Log</button>
            </form>
            <br />
            <div class="row">
                <div class="col-md-4 text-left">
                    <a id="btnBack" class="btn btn-primary" href="#/it-39">Back</a>
                </div>
                <div class="col-md-4 text-center">
                    <a id="btnBack" class="btn btn-primary">Next/Save</a>
                </div>
                <div class="col-md-4 text-right">
                    <a id="btnBack" class="btn btn-primary" href="#/">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>
